#cabecera{
    width: 100%;
    height: 60px;
    background-color: rgb(243, 60, 173);
    text-align: center;
    text-shadow: 5px;
    text-justify: kashida;
    padding-top: 5px;
}
#consulta{
    width: 100%;
    height: 720px;
    background-color: rgb(112, 30, 48);
    text-align: center;
    text-shadow: 5px;
    text-justify: kashida;
    padding-top: 20px;
}
#tabla{
    position: absolute;
    margin-left: 30%;
    padding-left: 30px;
    padding-right: 20px;
    width: 500px;
    height: 330px;
    background-color: rgb(206, 197, 70);
}
#tabla2{
    position: absolute;
    margin-left: 30%;
    padding-left: 30px;
    padding-right: 20px;
    width: 500px;
    height: 330px;
    background-color: rgb(93, 197, 93);
}
.celda{
    float: left;
    width: 480px;
    height:10px;
    text-align:left;
    margin-top: 12px;
}
.celdas{
    float:right;
    width: 350px;
    height:12px;
    background-color: white;
}
.boton{
    float: left;
    margin-top: 25px;
    width: 100px;
    height: 25px;
}
.separacion{
    height: 12px;
}
.desplegable{
    float:right;
    width: 358px;
    height:18px;
    background-color: white;
}
#bloque_opciones{
    position: relative;
    width: 100px;
    height: 36px;
    float:right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 7px;
    background-color: rgb(233, 78, 78);
}
#bloque_opciones_1{
    position: relative;
    width: 100px;
    height: 36px;
    float:right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    color: rgb(161, 80, 51);
    padding-top: 7px;
    background-color:rgb(161, 80, 51);
    transition-property: background-color;
    z-index: -1;
}
#bloque_opciones_2{
    position: relative;
    width: 100px;
    height: 36px;
    float:right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    color: rgb(161, 80, 51);
    padding-top: 7px;
    background-color:rgb(161, 80, 51);
    transition-property: background-color;
    z-index: -1;
}