h1
    {
        text-align: center;
    }
table
    {
        width:25%;
        background-color: #FFC;
        border: 2px dotted #F00;
        margin: auto;
    }
.izq
    {
        text-align: right;
    }
.der
    {
        text-align: left;
    }
td
    {
        text-align: center;
        padding:10px;
    }