#titulo{
    text-align: center;
    color: green;
}
#tabla{
    margin-left: 43%;
    text-align: center;
    height: 15px;
    width: 25px;
    color: rgb(75, 126, 0);
}
.fila{
    height: 5px;
    width: 15px;
}